//{% include coll_ext/site-config/add-scss-var/custom_style.html %}
//{% comment %} Active include if scss template is not added on :  {% endcomment %}
//{% comment %}  - common lists of /_data/template/pages/common.yml {% endcomment %}
//{% comment %}  - 'noncritic_add' part of a file in subfolders /_data/template/page* {% endcomment %}
//{% comment %} AND if custom sass defined site-config are needed, see /_data/scss/var_config{% endcomment %}
//{% comment %} note: file extension '.liquid' MUST be added : template.scss.liquid {% endcomment %}

.intro-header.box_no_bg {
  background: none
  // margin-bottom: 50px;
}

.intro-header.box_no_bg .site-heading,
.intro-header.box_no_bg .post-heading,
.intro-header.box_no_bg .page-heading 
{
  // margin: 100px 0 50px;
  color: #404040;
}

@media only screen and (min-width: 768px) {
  .intro-header.box_no_bg .site-heading,
  .intro-header.box_no_bg .post-heading,
  .intro-header.box_no_bg .page-heading {
    // margin: 150px 0;
    margin: 0;
  }
}

.intro-header.box_no_bg .post-heading .meta a {
  color: #404040;
}


.intro-header.box_no_bg .box {
  // margin: 20px;
  margin: 50px 20px 20px;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255,255,255,0.7);
  @include clearfix;
}