//{% include coll_ext/site-config/add-scss-var/custom_style.html %}
//{% comment %} Active include if scss template is not added on :  {% endcomment %}
//{% comment %}  - common lists of /_data/template/pages/common.yml {% endcomment %}
//{% comment %}  - 'noncritic_add' part of a file in subfolders /_data/template/page* {% endcomment %}
//{% comment %} AND if custom sass defined site-config are needed, see /_data/scss/var_config{% endcomment %}
//{% comment %} note: file extension '.liquid' MUST be added : template.scss.liquid {% endcomment %}


// case with image url added on htmlstyle
.intro-header.bg_img 
{
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;  
  background-size: cover;
  // margin-bottom: 50px;
}

.intro-header.bg_img .site-heading,
.intro-header.bg_img .post-heading,
.intro-header.bg_img .page-heading 
{
  padding: 100px 0 50px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header.bg_img .site-heading,
  .intro-header.bg_img .post-heading,
  .intro-header.bg_img .page-heading {
    padding: 150px 0;
  }
}

.intro-header.bg_img .post-heading .meta a {
  color: white;
}