//{% include coll_ext/site-config/add-scss-var/custom_style.html %}
//{% comment %} Active include if scss template is not added on :  {% endcomment %}
//{% comment %}  - common lists of /_data/template/pages/common.yml {% endcomment %}
//{% comment %}  - 'noncritic_add' part of a file in subfolders /_data/template/page* {% endcomment %}
//{% comment %} AND if custom sass defined site-config are needed, see /_data/scss/var_config{% endcomment %}
//{% comment %} note: file extension '.liquid' MUST be added : template.scss.liquid {% endcomment %}


.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}


.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

