{%comment%}<!--
param in :
common_param:
  page
  site
param out :
  html
 -->{%endcomment%}




{% comment %}specific, extract custom param{% endcomment %}
{% assign box_no_bg_hide_img = 'false' %}
{% include coll_ext/utils/list/extract_value_from_key.html 
  key='box_no_bg_hide_img'
  list=page.list_param_page_template      
%}
{% if value_from_key != null %}
  {% assign box_no_bg_hide_img = value_from_key %}
{% endif %}



<header class="intro-header box_no_bg">
  <div class="container-fluid">
    <div class="row">
      <div class="box">

      {% if box_no_bg_hide_img == 'true' %}

        {% comment %}<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">{% endcomment %}
        <div class="col-lg-10 col-lg-offset-1">
      {% else %}

        <div class="col-md-6">
          {% comment %}extract path_img_src{% endcomment %}
          {% include templates/utils/extract/path_img_src.html 
            path_image=page.header_img
          %}
          <img class="img-responsive img-border-left" src="{{path_img_src}}" alt="">
        </div>

        <div class="col-md-6">
      {% endif %}

          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
              <h2 class="subheading">{{ page.description }}</h2>
            {% endif %}
            <span class="meta">Posted {% if page.author %}by {{ page.author }}{% endif %} on {{ page.date-publication | date: "%B %-d, %Y" }}</span>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</header>

{% comment %}<header class="intro-header box_no_bg">
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
              <h2 class="subheading">{{ page.description }}</h2>
            {% endif %}
            <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>{% endcomment %}
