{%comment%}<!--
param in :
common_param:
	content
  page
  site
param out :
  html
 -->{%endcomment%}


{% include coll_ext/extract/detail_subsection.html %}

{% comment %}extract item_previous item_next{% endcomment %}
{% include coll_ext/extract/item/next_previous_from_direct.html 
  path_item = page.path
%}

 <!-- Detail Content -->
<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       
        {{ content }}

        <hr>
        
        <ul class="pager">          
          {% if item_previous != null %}
            <li class="previous">
              <a href="{{ item_previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{item_previous.title}}">&larr; Previous Article</a>
            </li>
          {% endif %}
          {% if item_next != null %}
            <li class="next">
              <a href="{{ item_next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{item_next.title}}">Next Article &rarr;</a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
</article>